.articlePage{
    display: grid;
    grid-template-columns: 2fr 8fr;
    text-decoration: none;
}

.articlePage .articleCategories{
    color : white;
    text-decoration: none;
    padding: 5px 10px 5px 20px;

}

.category{
    color : white;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
}

.articlePage .articlesOfSelectedCategory{
    color : white;
    margin-left: 0px;
    text-decoration: none;
    padding: 5px 10px 5px 20px;

}

.articlesOfSelectedCategory .articlesListOfSelectedCategory{

}


.active {
    color : #9e9e9e;
    text-decoration: none;
    padding-left: 15px;
}