.articlePage {
    display: grid;
    height: 100%;
    grid-template-areas:
    "lefSideSecondNavBarArea rightSideContentArea";
    grid-template-columns: 230px auto;
    text-decoration: none;
}

.articleCategoriesBar {
    width: 100%;
    display: grid;
    grid-area: lefSideSecondNavBarArea;
    background: linear-gradient(to right, #636363, black);
    grid-template-rows: repeat(6, 60px);
    grid-template-columns: 100%;
    align-items: center;
}

.articleSelectedBar {
    text-align: left;
    display: inline-block;
}

.articleActiveBarFont {
    grid-area: lefSideSecondNavBarArea;
    background: linear-gradient(to right,
    rgba(255, 255, 255, 10%),
    rgba(255, 255, 255, 1%));
    color: #ffd600;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 60px;
    font-size: 18px;
    display: inline-block;
    padding-left: 30px;
    border-left: 3px solid #ffd600;
}

.articleSelectedBarFont {
    grid-area: lefSideSecondNavBarArea;
    grid-template-rows: repeat(6, 60px);
    grid-template-columns: 100%;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    line-height: 60px;
    width: 230px;
    text-decoration: none;
    font-size: 18px;
    padding-left: 20px;
}
