.content {
    grid-area: a;
    background-color: black;
    border-right-style: ridge;
    border-right-color: #363636;
    border-right-width: 1px;
    border-bottom-style: ridge;
    border-bottom-color: #363636;
    border-bottom-width: 1px;
    color : white;
}

.content img{
    width: 250px;
}