.nav {
    grid-area: leftSideNavBar;
    width: 100%;
    background: linear-gradient(to right, black, #636363);

}

.navBarFont{
    color: #ffd600;
    margin-left: 20px;
    text-decoration: none;
}

.active {
    color : white;
    text-decoration: none;
}