.nav {
    width: 100%;
    display: grid;
    grid-area: leftSideNavBar;
    background: linear-gradient(to right, black, #636363);
    grid-template-rows: repeat(5, 60px);
    grid-template-columns: auto;
    align-items: center;
}

.navSelectedBar {
    text-align: left;
    display: inline-block;
}

.navActiveBarFont {
    display: inline-block;
    background: linear-gradient(to right,
    rgba(255, 255, 255, 20%),
    rgba(255, 255, 255, 0%));
    color: #ffd600;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
    padding-left: 30px;
    border-left: 3px solid #ffd600;
}

.navSelectedBarFont {
    color: white;
    display: inline-block;
    box-sizing: border-box;
    line-height: 60px;
    width: 100%;
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
}