.mainLogoStyle {
    float: left;
    background-color: black;
    border-left-style: ridge;
    border-left-color: #363636;
    border-left-width: 1px;

}

.mainLogoStyleImg {
    width: 200px;
    height: 300px;
}

.mainLogoBGStyle {
    grid-area: logo;
    background-color: black;
    width: 500px;
    height: 200px;
}
