.content {
    width: 250px;
    height: 400px;
    background: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-style: ridge;
    border-color: rgba(255, 99, 71, 0);
    border-width: 1px;
    border-bottom: 3px solid rgba(255, 99, 71, 0);
}



.content:hover {
    background: linear-gradient(to top,
    rgba(255, 255, 255, 20%),
    rgba(255, 255, 255, 0%));
    color: #ffd600;
    text-decoration: none;
    border-bottom: 3px solid #ffd600;
}