.content {
    grid-area: contentArea;
    display: grid;
    grid-template-areas:
        "upperArea"
        "lowerArea";
    grid-template-rows: 1fr 2.5fr;
    grid-template-columns: 1fr;
    overflow-y: hidden;
    height: 100%;
    background-color: black;
}

.greetingsText {
    color : white;
    font-size: 30px;
    position: center;
    padding: 20px;
}

.descriptionText {
    color : white;
    font-size: 15px;
    position: center;
    padding: 20px;
}