.app-wrapper {
    display: grid;
    width: 1500px; /*here need to fix a size*/
    background-color: black;
    margin: 0 auto;
    grid-template-areas:
"logo upperNavBar"
"leftSideNavBar contentArea";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 0px;
}

.commonBackground {
    background-color: black;
    margin: 0 0 0 0;
    width: 10%;
    height: 10%;
}