.app-wrapper {
    display: grid;
    height: 100%;
    grid-template-areas:
        "logo upperNavBar"
        "leftSideNavBar contentArea";
    grid-template-rows: 60px auto;
    grid-template-columns: 230px auto;
}

body {
    background-color: black;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}